*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.color-navbar{
background-color: #97BC62FF ;
}

.btn-submit{
  color: white !important;
  background-color: #2C5F2D !important;

}

.btn-submit:hover{
  background-color: #568a57 !important;
}

.btn-ir{
  background-color: #568a57 !important;
  border-color: #568a57 !important;
}